@tailwind base;
@tailwind components;
@tailwind utilities;


.beach{
    height: 900px;
}

.jprompt{
    position: absolute;
    top: 18%;
}

.tagline{
    text-shadow: 0.5px 0.5px black;
}

.slogan{
    max-height: 640px;
}

.callAction{
    line-height: 3rem;
}

.pickupDiv, .dateupDiv{
   
    height: 68px;
}

.card{
    width: 425px;
}

.rewardHeader{
    line-height: 4rem;
}

.rewardAction{
    line-height: 3rem;
}

@media only screen and (max-width: 1024px) {

    .jprompt{
        top: 11%;
    }


    .beach{
        height: 550px;
    }

    .rentPrompt{
        height: 460px;
    }
    
    .callAction{
        line-height: 1.5rem;
    }
   

}

@media only screen and (min-width: 1950px) {

    .max{
        position: relative;
        width: 1950px;
        margin: 0 auto;
      
    }
}


